:root {
  --primary-color: #212529;
  --secondary-color: antiquewhite;
  --primary-font: "Red Hat Display", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

body {
  background: #f8cb74;
}

h1 {
  font-size: 200px;
  font-weight: 700;
  font-family: var(--primary-font);
}

h2 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 100;
  text-transform: uppercase;
  font-size: 30px;
  border-radius: 30px;
  margin: 10px 80px;
  padding: 8px;
}

h3 {
  font-size: 40px;
  font-family: var(--secondary-font);
}

.hero {
  text-align: center;
}

.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50px;
  margin: 200px 50px;
  padding: 30px 120px;
}
.btn-branding {
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 200;
}
