:root {
  --primary-color: #212529;
  --secondary-color: antiquewhite;
  --primary-font: "Red Hat Display", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

body {
  background: #f8cb74;
}

h1 {
  font-size: 200px;
  font-weight: 700;
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: var(--primary-color);
}

h2 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 100;
  text-transform: uppercase;
  font-size: 30px;
  border-radius: 30px;
  margin: 10px 80px;
  padding: 8px;
}

h3 {
  font-size: 40px;
  font-family: var(--secondary-font);
}

h4 {
  font-family: var(--primary-font);
  font-size: 50px;
}

p {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 200;
}

.hero {
  text-align: center;
}

.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50px;
  margin: 40px;
  padding: 20px 40px;
}
.btn-branding {
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 200;
}

.content-container {
  margin-top: 150px;
}

.content {
  margin: 30px;
}

.jc-photo {
  width: 250px;
  border-radius: 10px;
}

.grid {
  border-radius: 90px;
  width: 450px;
}

@media (max-width: 576px) {
  body {
    max-width: 600px;
  }
  .h-1 {
    font-size: 60px;
    text-align: center;
  }

  .h-2 {
    font-size: 15px;
  }
  .hero {
    text-align: center;
  }
  .buttons {
    padding-top: 70px;
  }

  .btn-branding {
    font-size: 15px;
    margin: 10px;
    display: block;
    padding: 8px;
  }
}
